                                                          /* Css sans class */
body{
    background-image: url(../images/fond\ classe.jpg); /* *Ajouter un fond */
    background-size: 4000px; /* *Mettre le fond en 2000px ( tout l'ecran ) */
    zoom: 95%; /* *Dézoomer légérement */
    background-repeat: no-repeat; /* *s'assurez qu'il n'y ai pas de répétition */
    color: white; /* *Mettre la couleur de l'écriture en blanc */
    overflow-x: hidden; /* *Enlever la barre du bas */
}

.ordi-ligne {
  
}
.tablette-ligne{
    
}

.carteApprenant{
    
}



h1, h2, h3, h4 ,p{
    font-size: 15px; /* *taille de l'écriture */
    line-height: 1.8; /* *Hauteur de l'écriture */
    text-align: left; /* *Aligner au gauche */
}
img{
    width: 150px; /* *Largeur de l'image */
    padding: 73px;
    height: 150px; /* *hauteur de l'image */
    border-radius: 50%; /* *arrondir de 50%*/
    margin-bottom: 10px; /* *mettre de l'espace en bas */

}

button {
    height: 40px;
    width: 250px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.479);
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
}
                                                            /* Css avec class */
.container{
    display: flex;
    flex-direction: column;
    max-width: 700px; /* ?Maximun du box a 700% */
    margin: 15px;
    justify-content: center; /* ?Centrer le contenu horizontalement */
    align-items: center; /* ?Centrer le contenu horizontalement */
    /*!display: flex;  Mettre les item sur la même ligne */
    flex-wrap: wrap;
    align-content: space-between;
    /*!max-height: 600px;  Maximun hauteur*/
    flex-direction: column; /*? mettre les card en colone */
    width: calc(100vw - 60px); /* ?Calcule la largeur */
    padding: 10px; /* ?espace dedans de 10px */
    background-color: rgba(0, 0, 0, 0.658); /*? Box color */
    border-radius: 5px; /*? Arrondir les angles de 5px */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /*? Ombre du box color */
    position: relative; /*? Position mise en relative */
    text-align: center; /*? Centrer le contenu horizontalement */
    border: 2px solid #ffffff; /*? Bordure blanche */
}

#MyResearch{
    position: absolute;
    left: 300px;
    width: 1000px; /*? size of a single icon */
    height: 35px;
}
.carteApprenant{
    /*!display: flex; /* Mettre les item sur la même ligne */
    /*!margin-left: 30px; /* espace de 30px a gauche */
    /*!margin-right: 30px ; /* espace de 30px a droite */
}
.container:hover{
    transform: scale(1.05); /*? agrandir la partie ou la sourie touche */
}
a:visited{
    color: steelblue; /* *mettre les liens qu'on a déjà cliqué en bleu */
    text-decoration: none; /* *Enleve la décoration des lien */
    list-style: none; /* *Enleve la décoration des lien */
}
a{
    color: #ffffff; /* *mettre les liens en blanc */
    text-decoration: none; /* *Enleve la décoration des lien */
    list-style: none; /* *Enleve la décoration des lien */
}
                                                             /* Média Query */
/* Media query pour les tablettes (par exemple, iPad) */
@media only screen and (max-width: 768px) {
    body {
        background-size: 3000px;
        height: 300px;
    }

    h1, h2, h3, h4, p {
        font-size: 13px;
        line-height: 1.4;
    }

    .carteApprenant {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* Media query pour les téléphones */
@media only screen and (max-width: 480px) {
    body {
        background-size: 2000px;
        height: 300px;
    }

    h1, h2, h3, h4, p {
        font-size: 11px;
        line-height: 1.2;
    }

    .carteApprenant {
        margin-left: 5px;
        margin-right: 5px;
    }
}


